<section id="about" class="bespoke-solutions" role="main">
    <div class="bespoke-solutions__container">
        <div class="bespoke-solutions__aside">
            <div class="bespoke-solutions__image-box" role="img" aria-label="A team of people is ready to help you with your question">
                <img src="@img/home/people.jpg" class="bespoke-solutions__image" alt="People team" width="1280px" height="853px" />
            </div>
            <div class="solutions-block__box">
                <div class="solutions-block">
                    <p class="solutions-block__title2">What you are looking for</p>
                    <h2 class="solutions-block__title">We provide bespoke solutions</h2>
                    <p class="solutions-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
                </div>
                <div class="solutions-block__button">
                    <button class="solutions-block__button-color button button-text">Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>
