<section class="blog" id="blog">
    <div class="blog__container">
        <div class="blog__aside">
            <div class="blog__image-box" role="img" aria-label="Book open and pencil">
                <img class="blog__image" alt="Book open and pencil" src="@img/home/blog.jpg" width="700px" height="525px" />
            </div>
            <div class="blog__block">
                <p class="blog__text">April 16 2020</p>
                <h2 class="blog__title">Blog Post One</h2>
                <h3 class="blog__subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</h3>
                <div class="blog__button">
                    <button class="blog__button-color button button-text">Read Our Blog</button>
                </div>
            </div>
        </div>
    </div>
</section>
