<section class="business-cases" id="cases" role="main">
    <div class="business-cases__container">
        <h3 class="business-cases__subtitle">This is what we do</h3>
        <h2 class="business-cases__title">Business Cases</h2>
        <p class="business-cases__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente !</p>
        <div class="gallery">
            <ul class="gallery__list">
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases1.jpg" alt="case1" width="640px" height="427px" /></a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases3.jpg" alt="case3" width="640px" height="427px" /></a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases5.jpg" alt="case5" width="640px" height="427px" /></a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases7.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases7.jpg" alt="case7" width="640px" height="427px" /></a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases2.jpg" alt="case2" width="640px" height="427px" /></a>
                </li>
                <li class="gallery__item">
                    <a class="gallery__link" href="@img/cases/cases4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="gallery__image" src="@img/cases/cases4.jpg" alt="case4" width="640px" height="427px" /></a>
                </li>
            </ul>
        </div>
    </div>
</section>
