<section id="contact" class="form" role="form">
    <div class="form__container">
        <div class="form__aside">
            <div class="form__image-box" role="img" aria-label="Marketing Head">
                <img src="@img/home/contact.jpg" class="form__image" alt="Marketing Head" width="700px" height="466px" />
            </div>
            <div class="form__block">
                <h2 class="form__title">Request Callback</h2>
                <form id="form" name="contact" action="" method="POST" data-netlify="true">
                    <div class="input__box-name">
                        <input id="user" type="text" name="name" placeholder="Enter your name" minlength="2" maxlength="50" required />
                        <input id="user-email" type="email" name="email" placeholder="Enter email*" required />
                    </div>
                    <!-- <p>
                        <label for="mail">
                            <span>Please enter an email address:</span>
                            <input type="email" id="mail" name="mail" required minlength="8" />
                            <span class="error" aria-live="polite"></span>
                        </label>
                    </p> -->
                    <div class="form__button-form">
                        <button type="submit" class="button form__button-color button-text">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
