<header class="header" role="banner">
  <div class="header__container container">
    <div class="header__logo">
      <a href="#">
        <icon class="icon-book-open"></icon>
        <span>Finance</span><span>Ledger</span></a
      >
    </div>
    <nav class="header__menu" role="navigation">
      <ul class="header__list">
        <li><a href="/" class="header__link" rel="home">Home</a></li>
        <li><a href="#about" class="header__link">About</a></li>
        <li><a href="#cases" class="header__link">Cases</a></li>
        <li><a href="#blog" class="header__link">Blog</a></li>
        <li><a href="#contact" class="header__link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
