<section id="hero" class="hero-section hero-section__background" role="main">
  <div class="hero-section__container">
    <h1 class="hero-section__title">The Sky Is The Limit</h1>
    <p class="hero-section__text text-first">
      We provide world class financial assistance
    </p>
    <div class="hero-section__button">
      <button class="hero-section__button-color button button-text">
        <icon class="hero-section__icon-button icon-angle-right"></icon>Read
        More
      </button>
    </div>
  </div>
</section>
