<div class="overlay-social">
    <ul class="overlay-list">
        <li class="overlay-list__item">
            <a class="overlay-list__link" href="#" target="_blank">
                <icon class="icon-facebook"></icon>
            </a>
        </li>
        <li class="overlay-list__item">
            <a class="overlay-list__link" href="#" target="_blank">
                <icon class="icon-twitter"></icon>
            </a>
        </li>
        <li class="overlay-list__item">
            <a class="overlay-list__link" href="#" target="_blank">
                <icon class="icon-youtube"></icon>
            </a>
        </li>
        <li class="overlay-list__item">
            <a class="overlay-list__link" href="#" target="_blank">
                <icon class="icon-linkedin-in"></icon>
            </a>
        </li>
    </ul>
</div>
