<section class="team" id="team">
    <div class="team__container">
        <h3 class="team__subtitle">Who we are</h3>
        <h2 class="team__title">Our Professional Team</h2>
        <p class="team__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente !</p>
        <ul class="team__list">
            <li class="team__list-item">
                <div class="team__image-box">
                    <img class="team__image" alt="img1" src="@img/team/person1.jpg" width="640px" height="426px" />
                    @@include('../partials/overlay-social.html', { })
                </div>
                <h3 class="team__list-name">John Doe</h3>
                <p class="team__list-occupation">President</p>
            </li>
            <li class="team__list-item">
                <div class="team__image-box">
                    <img class="team__image" alt="img2" src="@img/team/person2.jpg" width="640px" height="426px" />
                    @@include('../partials/overlay-social.html', { })
                </div>
                <p class="team__list-name">Jane Doe</p>
                <p class="team__list-occupation">Vice President</p>
            </li>
            <li class="team__list-item">
                <div class="team__image-box">
                    <img class="team__image" alt="img1" src="@img/team/person3.jpg" width="640px" height="426px" />
                    @@include('../partials/overlay-social.html', { })
                </div>
                <h3 class="team__list-name">Steve Smith</h3>
                <p class="team__list-occupation">Marketing Head</p>
            </li>
        </ul>
    </div>
</section>
