.bespoke-solutions {
  &__container {
  }

  &__image {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
.solutions-block {
  &__title2 {
  }

  &__title {
  }

  &__text {
  }

  &__button {
  }

  &__button-color {
  }
}
.button {
}
.button-text {
}
